---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Propuesta from "../components/Propuesta.astro";
import Beneficios from "../components/Beneficios.astro";
import Confianza from "../components/Confianza.astro";
import Planes from "../components/Planes.astro";
import FormularioDemo from "../components/FormularioDemo.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Propuesta />
    <Beneficios />
    <Confianza />
    <Planes />
    <FormularioDemo />
    <FAQ />
  </main>
  <Footer />
</Layout>
